/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    combos {
        compatible = "zmk,combos";

        equal {
            bindings = <&kp EQUAL>;
            key-positions = <19 20>;
        };

        tab {
            bindings = <&kp TAB>;
            key-positions = <16 15>;
        };

        under {
            bindings = <&kp UNDER>;
            key-positions = <21 20>;
        };

        excl {
            bindings = <&kp EXCL>;
            key-positions = <15 14>;
        };

        at {
            bindings = <&kp AT_SIGN>;
            key-positions = <14 2>;
        };

        hash {
            bindings = <&kp HASH>;
            key-positions = <15 3>;
        };

        dollar {
            bindings = <&kp DOLLAR>;
            key-positions = <4 16>;
        };

        comment {
            bindings = <&kp LG(EXCL)>;
            key-positions = <14 16>;
        };

        grave {
            bindings = <&kp GRAVE>;
            key-positions = <19 21>;
        };

        plus {
            bindings = <&kp PLUS>;
            key-positions = <19 7>;
        };

        minus {
            bindings = <&kp MINUS>;
            key-positions = <20 8>;
        };

        star {
            bindings = <&kp STAR>;
            key-positions = <21 9>;
        };

        lft_prth {
            bindings = <&kp LEFT_PARENTHESIS>;
            key-positions = <25 13>;
        };

        rgt_prth {
            bindings = <&kp RIGHT_PARENTHESIS>;
            key-positions = <34 22>;
        };

        del_bck {
            bindings = <&kp LA(BACKSPACE)>;
            key-positions = <32 31>;
        };

        del_fwd {
            bindings = <&kp LA(DELETE)>;
            key-positions = <33 34>;
        };
    };

    macros {
        last_cmd: last_cmd {
            compatible = "zmk,behavior-macro";
            #binding-cells = <0>;
            bindings = <&kp LC(C) &kp UP_ARROW &kp ENTER>;
            label = "LAST_CMD";
        };
    };

    behaviors {
        hold_tap: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            label = "HOLD_TAP";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <190>;
            flavor = "tap-preferred";
        };
    };

    keymap {
        compatible = "zmk,keymap";

        ABC {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BKSP |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB                 &kp Q  &kp W  &kp E                  &kp R                     &kp T                         &kp Y        &kp U        &kp I            &kp O    &kp P     &kp RIGHT_GUI
&hold_tap LCTRL ESCAPE  &kp A  &kp S  &kp D                  &kp F                     &kp G                         &kp H        &kp J        &kp K            &kp L    &kp SEMI  &kp SQT
&kp LSHFT               &kp Z  &kp X  &kp C                  &kp V                     &kp B                         &kp N        &kp M        &kp COMMA        &kp DOT  &kp FSLH  &kp RIGHT_CONTROL
                                      &hold_tap LGUI DELETE  &hold_tap LEFT_GUI SPACE  &hold_tap ENTER LEFT_SHIFT    &lt 2 ENTER  &lt 1 SPACE  &lt 3 BACKSPACE
            >;
        };

        SYM {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  1  |  2  |  3  |  4  |  5  |   |  6  |  7  |  8  |  9  |  0  | BKSP |
            // | BTCLR| BT1 | BT2 | BT3 | BT4 | BT5 |   | LFT | DWN |  UP | RGT |     |      |
            // | SHFT |     |     |     |     |     |   |     |     |     |     |     |      |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&kp DOLLAR   &kp PERCENT           &kp CARET              &kp AMPERSAND     &kp PIPE           &kp EXCLAMATION      &kp PLUS    &kp N7        &kp N8        &kp N9        &kp ASTERISK  &kp BSPC
&kp HASH     &kp LESS_THAN         &kp GREATER_THAN       &kp LEFT_BRACE    &kp RIGHT_BRACE    &kp EQUAL            &kp MINUS   &kp NUMBER_4  &kp N5        &kp NUMBER_6  &kp COLON     &kp DOUBLE_QUOTES
&kp AT_SIGN  &kp LEFT_PARENTHESIS  &kp RIGHT_PARENTHESIS  &kp LEFT_BRACKET  &kp RIGHT_BRACKET  &kp TILDE            &kp PERIOD  &kp NUMBER_1  &kp NUMBER_2  &kp NUMBER_3  &trans        &trans
                                                          &kp LC(C)         &last_cmd          &kp LS(LG(ENTER))    &trans      &kp SPACE     &kp N0
            >;
        };

        NAV {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  !  |  @  |  #  |  $  |  %  |   |  ^  |  &  |  *  |  (  |  )  | BKSP |
            // | CTRL |     |     |     |     |     |   |  -  |  =  |  [  |  ]  |  \  |  `   |
            // | SHFT |     |     |     |     |     |   |  _  |  +  |  {  |  }  | "|" |  ~   |
            //                    | GUI |     | SPC |   | ENT |     | ALT |

            bindings = <
&trans  &none      &none         &kp LS(LG(NUMBER_3))  &kp LS(LG(NUMBER_4))  &kp LS(LG(N5))    &kp PG_UP           &kp HOME      &kp UP_ARROW  &kp END        &none          &none
&trans  &kp LCTRL  &kp LEFT_ALT  &kp LS(LALT)          &kp LS(LEFT_GUI)      &trans            &kp PAGE_DOWN       &kp LEFT      &kp DOWN      &kp RIGHT      &kp ENTER      &none
&trans  &trans     &trans        &trans                &trans                &trans            &kp LG(LEFT_ARROW)  &kp LA(LEFT)  &none         &kp LA(RIGHT)  &kp LG(RIGHT)  &none
                                 &trans                &trans                &trans            &trans              &trans        &trans
            >;
        };

        DEV {
            bindings = <
&trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans  &trans  &kp LG(LS(P))  &trans  &trans
&trans  &kp F9  &kp F10  &kp F11  &kp F12  &trans    &trans  &trans  &trans  &trans         &trans  &trans
&trans  &trans  &trans   &trans   &trans   &trans    &trans  &trans  &trans  &trans         &trans  &trans
                         &trans   &trans   &trans    &trans  &trans  &trans
            >;
        };
    };

    conditional_layers {
        compatible = "zmk,conditional-layers";

        L3_1+2 {
            if-layers = <1 2>;
            then-layer = <3>;
        };
    };
};
